* {
    margin: auto;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 12px;
}

h2 {
    margin: auto;
}

table {
    border-collapse: collapse;
    /* Menggabungkan batas sel */
    border: 2px solid black;
    /* Ketebalan dan warna batas tabel */
    width: 100%;
}

td,
th {
    border: 1px solid black;
    /* Ketebalan dan warna batas sel */
    padding: 8px;
    /* Ruang dalam sel */
}

div {
    font-size: large;
}

label {
    font-size: 20px;
}

.container {
    height: 80%;
    /* Ubah tinggi container sesuai kebutuhan Anda */
    overflow-y: scroll;
    /* Tambahkan overflow-y: scroll */
    padding-right: 15px;
    /* Menambahkan padding kanan agar tidak tumpang tindih dengan scrollbar */
}


/* Penyesuaian agar tabel tidak melebar secara horizontal */

table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}